@model IEnumerable<Member>

    <h1 class="bg-danger" style="text-align:center">Ranking</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Punkty</th>
                    <th scope="col">Ostatnia Ryba</th>
                    <th scope="col">Ostatnia Aktywność</th>
                    <th scope="col">Działania</th>
                    <th scope="col">Avatar</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    int i = 0;
                }
                @foreach (var item in Model.OrderByDescending(s=>s.AmmountOfPoints))
                {
                    { 
                        i++;
                    }
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.AmmountOfPoints</td>
                        <td>
                            @switch (item.LastCaughtFish)
                            {
                                case KindOfFish.pike:
                                    <p>Szczupak</p>
                                    break;
                                case KindOfFish.catfish:
                                    <p>Sum</p>
                                    break;
                                case KindOfFish.perch:
                                    <p>Okoń</p>
                                    break;
                                case KindOfFish.trout:
                                    <p>Pstrąg</p>
                                    break;
                                case KindOfFish.chub:
                                    <p>Kleń</p>
                                    break;
                                case KindOfFish.zander:
                                    <p>Sandacz</p>
                                    break;
                                case KindOfFish.asp:
                                    <p>Boleń</p>
                                    break;
                                default:
                                    break;
                            }
                        </td>
                        <td>@String.Format("{0:MM/dd/yyy}", item.RecentActivity)</td>
                        <td>
                            <form>
                                <div>
                                    <button type="submit" asp-action="DetailMember" asp-controller="Admin" asp-route-id="@item.Id" class="btn-block btn-primary">Detale</button>
                                    <button type="submit" asp-action="DeleteMember" asp-controller="Admin" asp-route-id="@item.Id" class="btn-block btn-danger" onclick="return confirm('Jesteś pewny?! Zaminy będą nieodwracalne!')">Usuń</button>
                                    <button type="submit" asp-action="EditUser" asp-controller="Admin" asp-route-id="@item.Id" class="btn-block btn-dark">Edytuj</button>
                                </div>
                            </form>
                        </td>

                        <td>
                        @if (item.FirstName == "Radek")
                        {
                            <img src="~/images/rb.jpg" style="width:150px;height:auto;" />
                        }
                        @if(item.FirstName == "Bartek")
                        {
                        <img src="~/images/bw.jpg" style="width:150px;height:auto;" />
                        }
                        @if(item.FirstName == "Marcin")
                        {
                        <img src="~/images/ml.jpg" style="width:150px;height:auto;"/>
                        }
                        @if (item.FirstName == "Norbert")
                        {
                        <img src="~/images/nw.jpg"  style="width:150px;height:auto;"/>
                        }
                        @if (item.FirstName == "Krzysztof")
                        {
                        <img src="~/images/kj.jpg" style="width:150px;height:auto;"/>
                        }
                        </td>
                    </tr>

                }
            </tbody>
        </table>@*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
        *@
        @{
        }
