@model IEnumerable<Member>

    
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Punkty</th>
                    <th scope="col">Ostatnia Ryba</th>
                    <th scope="col">Ostatnia Aktywność</th>
                    <th scope="col">Specjalizacja</th>
                    <th scope="col">Działania</th>
                    <th scope="col">Avatar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.AmmountOfPoints</td>
                        <td>
                            @switch (item.LastCaughtFish)
                            {
                                case KindOfFish.pike:
                                    <p>Szczupak</p>
                                    break;
                                case KindOfFish.catfish:
                                    <p>Sum</p>
                                    break;
                                case KindOfFish.perch:
                                    <p>Okoń</p>
                                    break;
                                case KindOfFish.trout:
                                    <h1>Pstrąg</h1>
                                    break;
                                case KindOfFish.chub:
                                    <p>Kleń</p>
                                    break;
                                case KindOfFish.zander:
                                    <p>Zander</p>
                                    break;
                                case KindOfFish.asp:
                                    <p>Boleń</p>
                                    break;
                                default:
                                    break;
                            }
                        </td>
                        <td>@String.Format("{0:MM/dd/yyy}", item.RecentActivity)</td>
                        <td>
                            <form>
                                <div>
                                    <button type="submit" asp-action="DetailUser" asp-controller="Admin" asp-route-id="@item.Id" class="btn-block btn-primary">Detale</button>
                                    <button type="submit" asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@item.Id" class="btn-block btn-danger">Usuń</button>
                                    <button type="submit" asp-action="EditUser" asp-controller="Admin" asp-route-id="@item.Id" class="btn-block btn-dark">Edytuj</button>
                                </div>
                            </form>
                        </td>

                        <td><img src="~/images/logo.jpg" style="width:100px;height:auto;" /></td>
                    </tr>

                }
            </tbody>
        </table>@*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
        *@
        @{
        }
